.sidebar {
    width: 15%;
    height: calc(100vh);
    background-color: #1D2B64;
    position: relative;
    z-index: 2;
    top: 0 important!;
  }

  .logo{
    font-weight: bold;
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin: 22px;
    }

   
  ul{
    margin: 0;
    padding: 0;
  }
  .sidebarWrapper {
    color: white;
  }
   .sidebarList {
    list-style: none;
  }
  
  .sidebarListItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    padding-top:20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: #3F3FD4;
  }
  
  .sidebarIcon{
      margin-left: 20px;
      margin-right: 20px;
  }