.def{
    font-weight: 200;
    font-size: 30px;
    margin-left: 40px;
    margin-bottom: 60px;
    display: block;
}

.Header{
    font-weight: 800;
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 30px;
    display: block;
}



form{
    margin-top: 50px;
}

p{
    font-size: 28px;
    margin-left: 40px;
    display: inline-block;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
  }